@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";


.mat-success {
  background-color: rgb(61, 167, 61);
  color: #fff;
}


.mat-failure {
  background-color: rgb(255, 0, 0);
  color: #fff;
}

.surface-overlay {
  background-color: white;
}

.confirm-button-row {
  display: table-cell;
}

.section-table{
  display: table;
}

.confirm-button-row .mat-mdc-button-base {
  margin: 8px 8px 8px 0;
}
