h1 {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: normal;
}
.sub {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: black;
}

.after-saying{
  font-family: 'Times New Roman', Times, serif;
}
