
<section class="py-5 text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light">Welcome to ABC Restuarant</h1>
      <p class="lead sub">
        Where culinary excellence meets a warm and inviting atmosphere.
      </p>
      <br>
      <p class="after-saying">
        Our restaurant offers a diverse menu featuring the finest local and international dishes. Whether you're looking for a cozy dine-in experience or a convenient delivery option, ABC Restaurant is dedicated to providing exceptional service and unforgettable meals. Explore our website to discover our menu services. Join us at ABC Restaurant for a dining experience that delights all your senses.
      </p>
      <p>
        <a href="locations" class="btn btn-primary my-2" style="margin-right: 10px;">Check Locations</a>
        <a href="offerpromo" class="btn btn-secondary my-2">Offers and Promotions</a>
      </p>
    </div>
  </div>
</section>

